<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shift Scheduler{% endblock %}</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.css') }}">
    <script src="{{ url_for('static', filename='js/index.global.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flatpickr.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridWeek,dayGridMonth'
                },
                events: '/manage_team_members?data=events',

                eventDidMount: function(info) {
                    let eventTitle = info.event.title;
                    let memberName = info.event.extendedProps.memberName;
                    let shiftType = info.event.extendedProps.shiftType; 
                    info.el.querySelector('.fc-event-title').innerHTML = `<div>${memberName}</div><div>${shiftType}</div>`;

                    if (shiftType === "Early") {
                        info.el.classList.add('shift-early');
                    } else if (shiftType === "Late") {
                        info.el.classList.add('shift-late');
                    } else if (shiftType === "Normal") {
                        info.el.classList.add('shift-normal');
                    } else if (shiftType === "Holiday") {
                        info.el.classList.add('shift-holiday');
                    } else {
                        info.el.classList.add('shift-OOO');
                    }
                },

                eventContent: function(arg) {
                    let customHtml = `<div class="fc-event-title">${arg.event.title}</div>`;
                    return { html: customHtml };
                }
            });

            calendar.render();
        });
    </script>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('schedule_and_view_shifts') }}">View or Schedule Shift</a>
        <a href="{{ url_for('manage_team_members') }}">Team Members</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
